# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List tools used for Data Science

Some of the popular languages that Data Sciencetists use are :
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Sciencetists include:
1. NumPy
2. Pandas
3. SciKit-Learn
4. Matplotlib
5. SciPy

-------------------
|Data Science Tools|
-----------------------------
|Rstudio|
|Jupyter Notebook|
|ApacheSpark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
CH TANG